/*        Утилиты        */

:root {
  --white-color:#FFFFFF


}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1190px;
  margin: 0 auto;
  padding: 0 15px;

  outline: 1px solid red;
}

/*       Header         */

.header {
  background-color: #0D0D33;
  padding: 55px 0;
}

.header-logo {
  align-items: center;
  display: flex;
  margin-right: auto;


  color: var(--white-color);
}

.header-nav-link {
  padding: 10px 0;

  font-size: 13px;
  line-height: calc(30/13);
  color: var(--white-color);
}

.header-btn {
  color: var(--white-color);
  font-size: 13px;
  line-height: calc(16/13);
  text-align: center;
  padding: 12px 16px;
  background: transparent;
  border: 1px solid var(--white-color);
  border-radius: 4px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-img {
  margin-right: 8px;
}

.header-list {
  display: flex;
  column-gap: 50px;
  margin-right: 52px;
}

/*            Hero              */

.hero {
  background-color: #0D0D33;
  padding-top: 240px;
  padding-bottom: 270px;
}

.hero-title {
  font-size: 42px;
  font-weight: 400;
  line-height: calc(50/42);
  color: var(--white-color);
  max-width: 421px;
  margin-bottom: 35px;
}

.hero-text {
  font-size: 11px;
  line-height: calc(30/11);
  color: var(--white-color);
  max-width: 411px;
  margin-bottom: 35px;
}

.hero-btn {
  color: var(--white-color);
  font-size: 15px;
  line-height: calc(30/15);
  display: inline-block;
  padding: 15px 37px;
  background: #0A8BFE;
  border-radius: 4px;
}